:root {
  --main-color: #2a2929;
  --card-color: #5f545f;
  --sub-color: #3d223d;
  --accent: #987fbb;
  --text-color: #eaeaea;
  --con-color: #77b599;
  --pop-color: #e5bde9;
  --dub-color: #d0afe6;

  --priFont: "Bebas Neue", cursive;
  --secFont: "Kanit", sans-serif;
  --dropShadow: 12px 12px 16px 0 rgba(35, 47, 62, 0.226),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.364);
  --insetShadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(35, 47, 62, 0.226) inset;
}

/* Set basic background */
body {
  /* background-image: url("/img/Nodes.svg"); */
  background-color: var(--main-color);
  color: #eaeaea;
  font-family: "Bebas Neue", cursive;
}

.App {
  overflow: hidden;
}
/* link color */
a {
  font-family: "Kanit", sans-serif;
  color: var(--con-color);
  text-decoration: none;
}
a:hover {
  color: var(--text-color);
}

/* header */
header {
  padding-top: 3%;
}

.navigation {
  width: 100%;
}
header::before {
  content: "";
  top: 3%;
  width: 100%;
  height: 10%;
  filter: blur(3rem);
  position: absolute;
  z-index: 0;
  background: var(--text-color);
  opacity: 40%;
}
header h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--con-color);
}
.hi {
  letter-spacing: 0.2rem;
  font-size: calc(1.5vw + 5px);
  justify-self: start;
}
.name {
  color: var(--con-color);
  font-family: var(--secFont);
  font-weight: 500;
  font-size: calc(3.6vw + 8px);
}

.highlight {
  color: var(--dub-color);
  font-weight: 400;
}

header menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 2;
  right: calc(10% / 4);
}
header menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
header menu ul li {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: transparent;
  background-image: url("../img/Nodes.svg");
  height: 100vh;
  padding-top: -5%;
  position: relative;
  top: 0rem;
  border-top: 0.1rem dashed var(--dub-color);
  border-bottom: 0.1rem dashed var(--con-color);
}

.hero-summary {
  font-size: calc(1vw + 10px);
  width: calc(65vw + 10px);
  font-family: var(--secFont);
}
.rocket-ship {
  position: absolute;
  top: 140%;
  margin-inline: 3rem;
  transform: rotate(10deg);
  color: var(--pop-color);
  width: calc(12vw + 10px);
  height: calc(12vw + 10px);
}

.shipWindow {
  color: var(--text-color);
}

.shipFire {
  color: var(--con-color);
  opacity: 0;
}

/* hero text box */
.hello-box {
  position: absolute;
  top: 25%;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  font-size: calc(1vw);
  background-color: transparent;
  text-align: center;
  flex-direction: row;
}

/* hero text */
.intro {
  font-size: calc(1.3vw + 5px);
  font-weight: 100;
  letter-spacing: 0.2rem;
  overflow: hidden;
  height: 100%;
  margin-inline: auto;
  text-align: center;
  flex-wrap: wrap;
  white-space: wrap;
  animation: typing 2s steps(28);
}
.overtrue {
  font-weight: 900;
  line-height: 1.4em;
  text-align: center;
  flex-wrap: wrap;
  white-space: wrap;
  animation: typing 2s steps(28);
}

.carrot {
  color: var(--con-color);
  animation: blinker 1s linear infinite;
  filter: var(--dropShadow);
}

@keyframes blinker {
  0% {
    color: var(--con-color);
  }
  100% {
    color: transparent;
  }
}

main {
  width: 100%;
  justify-content: center;
  margin-inline: auto;
  padding-inline: auto;
}
.contact {
  width: 70%;
  margin-inline: auto;
}

.contact-card {
  border-radius: 1rem;
}

.contact-name,
.contact-email,
.contact-message,
.contact-submit {
  border-radius: 1.4rem;
  padding-inline: 1rem;
  font-weight: 300;
  margin-block: 0.5rem;
}

.content-card-style {
  margin-block: 2%;
  color: var(--con-color);
  margin-inline: auto;
  font-family: var(--secFont);
  font-size: 1.3em;
  width: 90%;

  border-radius: 3rem;
  align-items: center;
  justify-content: center;
}
.tech-box {
  flex-wrap: wrap;
  width: 80%;
}
.skills {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.project-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  width: 100%;
  border-bottom: 0.1rem dashed var(--con-color);
}
.section-header {
  font-size: 2rem;
  color: var(--con-color);
  /* text-decoration: underline; */
}
.underline {
  color: var(--pop-color);
  text-decoration: wavy;
}

.space-section {
  padding-block: 3%;
  padding-inline: 1%;
}

.my-card {
  border-radius: 15rem;
  width: calc(57vw + 1px);
  max-width: 20rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  margin-block: 1%;
  color: var(--text-color);
  background: linear-gradient(145deg, #3d3c3c, #2e2d2d);
  box-shadow: var(--insetShadow);
  backdrop-filter: blur(10rem);
}

.card-skills {
  width: 2rem;
}

.repo-icon:hover {
  transform: scale(1.3);
  color: var(--text-color);
}

.card-gif {
  width: 14rem;
  border-radius: 2rem;
}

.my-card hr {
  background-color: var(--accent);
}

.card-text {
  line-height: 1.4rem;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-card .card-title {
  color: var(--pop-color);
  font-weight: 800;
  font-size: 1.7rem;
}
.cards-box {
  width: fit-content;
}

.site-icon {
  width: 10rem;
  height: auto;
  object-fit: contain;
  width: 100px;
  margin-inline: auto;

  font-size: 6rem;
}
.card-text-box-p {
  margin: 3%;
  line-height: 1.9rem;
  text-align: center;
}
.card-button {
  width: 100%;
  background: transparent;
  border: none;
}
.button-svg {
  width: 50px;
  color: var(--con-color);
  margin-top: 7%;
}
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  overflow-wrap: wrap;
  margin-block: 8%;
  margin-inline: auto;
  width: 100%;
}

.card-body {
  flex: 1 1 auto;
  padding: 0rem 3rem;
}
.hide-card {
  opacity: 0;
}

.show-card {
  display: flex;
  animation: fadeUp 1s ease-in;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
  }
}

/* About Section under .about */
.about {
  background-color: var(--main-color);
  text-align: center;
  line-height: 1.5;
  border-bottom: 0.1rem dashed var(--con-color);
}
.about-me {
  line-height: calc(2vh + 10px);
  letter-spacing: 0.1rem;
  font-family: var(--secFont);
  font-size: 1rem;
  font-weight: 100;
  width: 75%;
}

.about p {
  color: rgb(226, 239, 232);
  text-align: justify;
}

.about-feat-img {
  width: calc(14vw + 10px);
  border-radius: .6rem;
  shape-outside: circle(10%);

}

.about-img-figure {
  /* width: calc(17vw + 1px);; */
  justify-content: space-around;
  width: calc(19vw + 5px);
  overflow: hidden;
  border-radius: 100%;
  background: transparent;
  margin: 3%;
  box-shadow: 0rem 0rem 2.2rem var(--text-color),
    0rem 0rem 0rem 0.3rem var(--con-color),
    0rem 0rem 0rem 0.6rem var(--pop-color), 0rem 0rem 0rem 0.9rem var(--accent);
}

.about-box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.about ul li {
  list-style-type: decimal;
}

.my-about-img {
  border-collapse: separate;
  border-radius: 6rem;
  overflow: hidden;
  perspective: 1px;
}

/* FOOTER */
/* keep at bottom */
footer {
  border-top: 0.1rem dashed var(--con-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-block: 2%;

  color: var(--pop-color);
  justify-content: center;
  filter: var(--dropShadow);
  background-color: #2a2929;
}

.resume-pdf {
  color: var(--con-color);
  background: transparent;
  border: none;
}
.resume-pdf:hover {
  color: var(--text-color);
}

.footerLinksList {
  width: 80%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: flex-end;
}
/* screens above */
@media (min-width: 768px) {
  .overtrue {
    font-size: 4.4rem;
  }

  .about-box {
    flex-direction: row;
    align-items: start;
  }

  .left-box {
    flex-direction: row;
  }
  .right-box {
    flex-direction: row;
  }

  .skills {
    width: 100px;
    height: 100px;
  }
}
